.ChatbotWelcomeMessage {
  display: flex;
  align-items: center;
  height: 400px;
  z-index: 2;
  position: relative;
}

.ChatbotWelcomeMessage__container {
  display: flex;
  flex-direction: column;
}

.ChatbotWelcomeMessage__message {
  background-color: var(--main-orange);
  color: white;
  border-radius: 18px 18px 18px 18px;
  align-self: flex-start;
  width:85%;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 8% 6%;
  position: relative;
}

.ChatbotWelcomeMessage__message:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 85%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: var(--main-orange);
	border-bottom: 0;
	border-right: 0;
	margin-left: -10px;
	margin-bottom: -20px;
}

.ChatbotWelcomeMessage__validationButton {
  width: 20%;
  background-color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  outline: none;
}

.ChatbotWelcomeMessage__validationButton:hover {
  cursor: pointer;
  transform: scale(1.1);
  opacity: 0.8;
}

.ChatbotWelcomeMessage__avatar {
  align-self: flex-end;
  width:15%;
  margin: 10px;
}