.Counter{
  width: 100%;
  text-align: center;
  padding: 10px;
  border: 1px solid var(--light-grey);
  background-color: var(--light-grey);
  border-radius: 10px;
  color: black;
  box-shadow: 5px 5px 7px var(--main-grey);
}

.Counter__people {
  margin-bottom: 20px;
}

.Counter__title {
  font-size: 20px;
  margin-bottom: 15px;
}

.Counter__info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Counter__info img {
  width: 7%;
  margin-right: 10%;
}

.Counter__info p {
  font-size: 1.3vw;
  font-weight: bold;
}