* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.MainModal {
    width: 55%;
    box-shadow: 1px 5px 3px 2px grey;
}

.MainModal__title {
    background-color: var(--dark-grey);
    color: #fff;
    padding: 20px;
    display: flex;
    align-items: center;
}

.MainModal__title__left {
    display: flex;
    align-items: center;
    width: 50%;
}

.MainModal__title h2 {
    font-family: Montserrat;
    font-size: 30px;
    margin-left: 20px;
}

.MainModal__title img {
    width: 50px;
}

.MainModal__title__right {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.MainModal__title button {
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-left: 10px;
    background-color: var(--main-yellow);
    font-size: 20px;
    transition: .15s ease-in;
}

.MainModal__title button:hover {
    cursor: pointer;
    background-color: #94740a;
    color: #fff;
    font-weight: bold;
    transform: scale(1.1)

}

.MainModal__container {
    background-color: #fff;
    height: 600px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.MainModal_container_left {
    width: 40%;
}

.MainModal_container_right {
    width: 50%;
}