.Office {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 35%;
  padding: 10px;
}

.Office__anoucement {
  margin: 0 10px 0 10px;
  font-size: 1em;
  font-style: italic;
  color: var(--dark-grey)
}

.Office__avatar {
  width: 70px;
}

.Office__doctor {
  display: flex;
  align-items: center;
  width: 90%;
}

.Office__doctor__info h2 {
  font-size: 1.3em;
}

.Office__doctor__info h2 {
  color: var(--main-blue);
}

.Office__doctor__info p {
  font-size: 1em;
  font-style: italic;
}

.Office__doctor img, .Office__patient img {
  margin-right: 1vw;
}

.Office__patient {
  display:flex ;
  flex-direction : row;
  border-radius: 10px;
  width: 90%;
}

.Office__patient__info {
  margin:10px;
}

.Office__patient__animation {
  animation-name: example;
  animation-duration: 2s;
  animation-iteration-count: 1;
}
@keyframes example {
  0%   {background-color:var(--light-grey); left:0px; top:0px;}
  50%  {background-color:var(--main-yellow); left:200px; top:200px;}
  100% {background-color:var(--light-grey); left:0px; top:0px;}
}
