.Office {
  border: 2px solid var(--main-blue);
  border-radius: 10px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.Office__anoucement {
  margin: 0 10px 0 10px;
  font-size: 1.2em;
  font-style: italic;
  color: var(--main-grey)
}

.Office__avatar {
  width: 70px;
}

.Office__doctor {
  display: flex;
  align-items: center;
}

.Office__doctor__info h2 {
  font-size: 1.3em;
}

.Office__doctor__info h2 {
  color: var(--main-blue);
}

.Office__doctor__info p {
  font-size: 1em;
  font-style: italic;
}

.Office__doctor img, .Office__patient img {
  margin-right: 1vw;
}

.Office__patient {
  width:90%;
  padding:10px;
  margin:5px;
  display:flex ;
  flex-direction : row;
  border-radius: 10px;
  border: 1px solid var(--main-grey);
  background-color :  var(--light-grey)
}

.Office__patient__info {
  margin:10px;
}

.Office__patient__animation {
  animation-name: example;
  animation-duration: 2s;
  animation-iteration-count: 1;
  /* transform: scale(1.5);
  animation-duration : 10s; */
}
@keyframes example {
  0%   {background-color:var(--light-grey); left:0px; top:0px;}
  50%  {background-color:var(--main-yellow); left:200px; top:200px;}
  100% {background-color:var(--light-grey); left:0px; top:0px;}
}
