.Patient {
  padding:10px;
  display:flex ;
  flex-direction : row;
  border-radius: 10px;
  background-color : #7e909b;
  width: 90%;
  margin: 10px auto;
}

.Patient__Name {
  margin:10px;
  color: white;
}

.Patient__Name__You {
  color : var(--main-yellow);
  font-weight : bold;
}

.Patient__PlayerWrapper {
  height:60px;
  width:90px;
}
