.Patient {
  padding:10px;
  display:flex ;
  flex-direction : row;
  border-radius: 10px;
  background-color :  var(--main-grey);
  width: 90%;
  margin: 10px auto;
}

.Patient__Name {
  margin:10px;
}

.Patient__Name__You {
  color : var(--main-orange);
  font-weight : bold;
}
