.Patient {
  padding:10px;
  display:flex ;
  flex-direction : row;
  border-radius: 10px;
  background-color : #7e909b;
  width: 90%;
  margin: 10px auto;
}

.Patient__Name {
  margin: auto 10px auto 20px;
  color: white;
}

.Patient__Name__doctorconsole {
  margin: auto 10px auto 10px;
  color: var(--dark-grey);
  font-size: 14px;
}

.Patient__Name__You {
  color : var(--main-yellow);
  font-weight : bold;
}

.Patient__Name__You__doctorconsole {
  color : var(--dark-grey);
  font-weight : bold;
}

.Patient__PlayerWrapper {
  height:60px;
  width:90px;
}

.Patient__Img {
  height:60px;
  width:60px;
}
